extends layout

block content
    h1 Welcome to the Secret Vault !
    .intro
        img(src="/images/closedLock.png")
    br
    .intro
        #options 
            br
            br
            strong Shhhhh, 
            span keep quiet people are trying to store their secrets
            br
            br
            p The secret vault is the place where you can keep all your deepest and darket secrets safe from prying eyes, 
            span where secrets are kept secret and only you can access them !
            br
            br
            h3 Please <a href="/login">login</a> or <a href="/register">register</a> to access your Secret Vault
   
    
    