extends layout

block content
  div
    p Welcome to your very own secret vault, where secrets are kept secret and only you can access them !
    p Please <a href="/login">login</a> or <a href="/register">register</a> to continue!
    br
    img(src="views/images/closedLock.png")
    