extends layout

block content
    h1#introTitle Welcome to the Secret Vault !
    .intro
        img(src="/images/closedLock.png")
    .intro
        #options 
            br
            strong Shhhhh, 
            span keep quiet people are trying to store their secrets
            br
            br
            p The secret vault is the place where you can keep all your deepest and darket secrets safe from prying eyes, 
            span Where secrets are kept from prying eyes !
            br
            br
            //
                Wrapping the text 'Login' and 'Register' in the heading 4 with an a href. As the a hred is /Login, this is
                me telling the browser and the server go to the login page or the register page, it is similar to how you 
                do it in html but by using /, I am using this to tell the server if an action happens at this line to go to 
                the routes folder and access the index.js in order to interpret where or what I am doing. I am using this, 
                in this case to send a get request to change the page, I use this on a number of my pages to allow me the 
                ability to switch pages
            div<a href="/login">login</a> or <a href="/register">Register an Account</a>
            
   
    
    