extends layout

block content
    div.formPages
        h1#form  Login
        br
        form(action="/login" method="post" class='style')
            label(for='username') Username:
            br
            input(type='text' name='username')
            br
            br
            label(for='password') Password:
            br
            input(type='password', name='password')
            br
            br
            input(type='submit', value='submit')
            br
        br
        div<a href="/">Return Home </a>       
            