extends layout
title = "Register"

block content
    h1  Welcome to your Vault !
    button <a href="/login">Logout </a>
    br
    br
    br
    br
    br
    .secretList
        div
            form(method='POST', action='/secrets' id='addSecret')
                label New Secret:
                br
                input(type='text' name='addSecretText')
                input(type='submit' name='AddSecret')
    br
    br
    //
        I am creating a variable called values and making it 
        I want it to create a ul and in each entry of the 
        
        Creating an li that will hold the value of the allSecretVault array and make each li display the objects secret message
        I am also creating a delete button each time, this is to give me the ability to implement deletion as I need something that 
        tells the user to click in order to delete an entry if needed. I am also creating another input, this second input is to 
        allow me to pass in the id of each entry somehow, as I need the id in order to delete the correct entry, otherise delete 
        wouldn't work as it doesn't know which entry to delete. I have created it as a hidden input as it is not somthing i want 
        the user to see or interact with, it is just to pass each entry their id that is used for deleting specific entries
    
    -var values = secrets;
    ul
        each val in values.length ? values : ['There are no values']
            li= val.secretMessage
                form(method='POST', action='/deleteme')
                    input(type='submit' name='delete' value='Delete')
                    input(type='hidden' name='id' value=val.id)
            br