extends layout
title = "Register"

block content
    h1  Welcome to your Vault !
    
    -var values = secrets;
    ul
        each val in values.length ? values : ['There are no values']
            li= val.secret
                form(method='POST', action='/deleteme')
                    input(type='submit' name='delete' value='Delete')
                    input(type='hidden' name='id' value=val.id)
            br
    br
    br
    div
        form(method='POST', action='/secrets' class='style')
            label New Secret:
            br
            input(type='text' name='addSecretText')
            br
            input(type='submit' name='AddSecret')
    br
    br
    div#secretList fksdfsgskdrjgfnkds
    //div#desc
        p industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        br
        ul
            li To add a new secret, click 'Add Secret'
            br
            li To delete a secret, click 'Delete Secret'
            br
            li Or if you would like to sort your secrets in alphabetical order, click 'Sort'    
        
        //button.secretOp#deleteBtn Delete Secret  
        //button.secretOp#sortBtn Sort Secrets