extends layout
title = "Register"

block content
    h1  Welcome to your Vault !
    br
    div
        form(method='POST', action='/secrets' id='addSecret')
            label New Secret:
            br
            input(type='text' name='addSecretText')
            input(type='submit' name='AddSecret')
    br
    br
    -var values = secrets;
    ul
        each val in values.length ? values : ['There are no values']
            li= val.secret
                form(method='POST', action='/deleteme')
                    input(type='submit' name='delete' value='Delete')
                    input(type='hidden' name='id' value=val.id)
            br