extends layout

block content
   div#wrongAccess 
        h1 Tut tut tut....
        br
        img(src="/images/wrongAccess.jpg") 
        br
        .wrongAText   
            h4 Trying to access secrets without a login.... How could you !
            h4 I'm heartbroken that you would do this
            div<a href="/login">Fine, I'll Login</a>    