extends layout

block content
    div#wrongLogin
        h1 Opps ! Wrong Login
        br
        img(src="/images/wrongLogin.png") 
        br   
        .wrongLoginText
            h4 Oh gosh, your login details weren't correct, Please go back to try again
            div<a href="/login">Lets try again</a>