extends layout

block content
    h1 Tut tut tut....
    .notice    
        p You should not be trying to access secrets this, thats just jude, please go back and login
        br
        br
        button <a href="/login">Login</a>