body {
  padding: 40px, 40px, 40px, 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkturquoise;
  color: snow;
  margin:0%;
}

a {
  color: #00B7FF;
}

h1{
    margin-left: 35%;
}

form{
    margin-left:35%;
    color: darkturquoise;
    width:20%;
    background-color: snow;
    border-radius: 30px;
    height: 20%;
    padding: 5%;
}

label{
    font-weight: bold;
    margin-left: 15%;
}

img{
   display:inline;
}

input{
    margin-bottom: 8%;
    margin-left: 15%;
}

.intro{
    width: 35%;
    padding:7%;
    padding-top:2%;
    float:left;
    display:inline;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#options{
    background-color: snow;
    padding:10%;
    margin-top: 15%;
    color: black;
    height:275px;
    border-radius: 80px;
}

.notice{
    width: 20%;
    padding:5%;
    float:left;
    display:inline;
    margin-bottom: 0%;
    padding-bottom: 0%;
    background-color: snow;
    margin-top: 5%;
    color: black;
    height:150px;
    margin-left:35%;
}

button{
    margin-left:35%;
}

.secretOp{
    background-color: snow;
    display: inline;
    width:8%;
    margin-left:0.5%;
}

#desc{
    background-color: snow;
    margin-top:2%;
    margin-bottom:2%;
    color: black;
    width:35%;
    padding:2%;
    display: inline;
    float:left;
}

#secretList{
    display: inline;
    margin-left:10%;
}

li{
    margin-left:5%;
}