/*
    CSS styling for web application
*/

body {
  padding: 40px, 40px, 40px, 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkturquoise;
  color: snow;
  margin:0%;
}

a {
  color: #00B7FF;
}

h1{
    margin-left: 35%;
    margin-bottom:5%;
}

.style{
    margin-left:35%;
    color: darkturquoise;
    width:20%;
    background-color: snow;
    border-radius: 30px;
    height: 20%;
    padding: 5%;
}

#addSecret{
    color: darkturquoise;
    background-color: snow;
    border-radius: 30px;
    height: 20%;
    padding: 1%;
    
    margin-top:1%;
    width:15%;
    margin-left:40%;
}

label{
    font-weight: bold;
    margin-left: 6%;
}

img{
   display:inline;
}

input{
    margin-bottom: 8%;
    margin-left: 6%;
}

#addingSecret{
    margin-bottom: 1%;
    margin-left: 1%;
}

.intro{
    width:35%;
    padding:7%;
    padding-top:2%;
    float: left;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

form{
    height:20px;
    width:0px;
}

#options{
    background-color: snow;
    padding:10%;
    margin-top: 15%;
    color: black;
    height:275px;
    border-radius: 80px;
}

.notice{
    width: 20%;
    padding:5%;
    float:left;
    margin-bottom: 0%;
    padding-bottom: 0%;
    background-color: snow;
    margin-top: 5%;
    color: black;
    height:150px;
    margin-left:35%;
}

li, button{
    margin-top:1%;
    margin-left:40%;
}

#displaySecrets{
    margin-top:1%;
    width:15%;
    margin-left:35%;
}