body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form{
    margin-left:35%;
    color: white;
    width:20%;
    background-color: darkcyan;
    border-radius: 30px;
    height: 20%;
    padding: 5%;
}

div{
    margin-left:40%;
}

p{
    margin-bottom:7%;
    margin-left:-30%;
}

input{
    margin-bottom: 5%;
}
